* {
    margin:0;
    padding:0;
}

img {
    max-width: 100%;
    opacity: 1.9;
}

main-section {
    background-color:rgba(51, 51, 51, 0.767);
    display: block;
}
main-header {
    padding:5%;
    background:url("background.jpg");
    background-size:cover;
    display:block;
    height: 500px;
    margin-bottom: -60px;
}
main-header img {
     max-width: 20%;
}

main-header p {
    background: red;
    padding: 6px;
    width: 65px;
    font-weight: bold;
    border-radius: 5px 5px;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    float: right;
}
main-body {
    clear:both;
    display: block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding: 5%;
    margin:auto;
}
main-body h1 {
    font-weight: bold;
    margin-top: -410px;
    font-size: 40px;
    text-align: center;
}
main-body h4 {
   font-size: 25px;
   font-weight:500;
   margin:auto;
   width: 75%;
}

input[type=text] {
    width: 95%;
    padding: 16px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 150px;
    background: red;
    color: white;
    font-size: 18px;
    font-weight:bold;
    padding: 16px 2px;
    display:inline-block;
    margin-left: 35%;
    border: none;
    border-radius: 4px;
    margin-bottom: -35px;
  }

  article {
      color:white;
      text-align: center;
      background-color: black;
  }


  article h1 {
      margin-top: 10px;
      padding-top: 50px;
      font-size: 35px;
  }

  article h3 {
      text-align: center;
    width: 90%;
    margin:auto;
    padding-top: 25px;
    font-size: 20px;

}

nav {
    background-color: black;
    color:white;
    margin: auto;
    display: block;
    text-align: center;

}

nav h1{
    margin-top:10px;
    margin-bottom: 20px;
    padding-top: 25px;
    text-align: center;
}

nav ul li {
    font-size: 25px;
    background-color:rgb(32, 32, 32);
    margin:5px;
    padding: 10px;
    text-align: left;
    width: 470px;
}

span {
   display: inline-block;
   float: right;
  
}


.dropdown {
    position: relative;
    display: inline-block;

  }
  
  .dropdown-content, .dropdown-content1 {
    display: none;
    max-width: 100%;
    position: relative;
    background-color:rgb(32, 32, 32);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  footer-form {
    display: inline-block;
      background-color: black;
      color:white;
  }

  footer-form h1 {
      font-size: 22px;
      width: 65%;
      margin:auto;
      padding-top: 20px;
      padding-bottom:30px;
  }

  footer-form input[type=text] {
      display: block;
      margin:auto;
  }

  footer-form input[type=submit] {
    display: block;
    margin-bottom:35px;
}
footer nav {
    margin-top: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:grey;
    padding-left: 60px;
   background: black;
}
footer h3 {
    width:80%;
    padding-bottom: 45px;
    font-weight: lighter;
    font-size: 18px;
    padding-top: 55px;
    text-align: left;
    clear:both;
}

footer nav li {
    font-weight: lighter;
    margin-left: 0;
    padding-left: 0;
    width: 40%;
    font-size: 18px;
    display: block;
    float:left;
    background: none;
    list-style-type: none;
}